covid-reporting/pipeline/pl_ingest_population_data.json
{
	"name": "pl_ingest_population_data",
	"properties": {
		"activities": [
			{
				"name": "Copy Population Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "If Column count matches",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:05:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_population_raw_gz",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_population_raw_tsv",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_population_raw_gz",
						"type": "DatasetReference"
					},
					"fieldList": [
						"columnCount",
						"exists",
						"size"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Column count matches",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get Metadata').output.columnCount,13)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "error messaging",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "If Column count matches",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://invalid-mail",
					"method": "POST",
					"body": "validation failed"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-03-14T04:20:17Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}